@use "../../../styles/global.scss" as *;

.badge-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-5);
	width: 100%;
	padding: var(--spacing-10) 0;

	&--top {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--spacing-2-5);

		&--badge {
			background: linear-gradient(93.66deg, #1952f1 0%, #418df8 98.87%);

			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			color: transparent;

			@include text-label-highlight;
			text-align: center;
			text-transform: capitalize;
		}

		&--text {
			color: var(--color-text-primary);
			@include text-display;
			font-size: 36px;
			text-align: center;
		}
	}

	&--subtext {
		@include text-body-xl-medium;
		text-align: center;
		color: var(--color-text-secondary);
		max-width: 640px;
	}

	&--actions {
		display: flex;
		justify-content: center;
		margin-top: var(--spacing-2-5);
	}

	// Tablet
	@media (max-width: 768px) {
		max-width: 100%;
		padding: var(--spacing-8) var(--spacing-5);
		gap: var(--spacing-4);

		&--top--text {
			font-size: 30px;
		}
	}

	// Mobile
	@media (max-width: 480px) {
		padding: var(--spacing-7) var(--spacing-4);
		gap: var(--spacing-6);

		&--top {
			gap: var(--spacing-2);

			&--text {
				font-size: 24px;
			}
		}

		&--actions {
			width: 100%;

			> * {
				width: 100%;
			}
		}
	}

	// Large screens
	@media (min-width: 1992px) {
		max-width: 1000px;
		padding: var(--spacing-15) var(--spacing-10);

		&--top--text {
			font-size: 44px;
		}
	}
}
